<!-- π“ views/index.ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>FCOAlways</title>
        <link rel="stylesheet" href="/css/common.css" />

        <!-- λ¬΄λ£μ•„μ΄μ½ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    </head>
    <body>
        <div class="forKaKaoAd">
            <ins
                    class="kakao_ad_area pc"
                    style="display: none"
                    data-ad-unit="DAN-oQJN02iYektg09FM"
                    data-ad-width="160"
                    data-ad-height="600"
                ></ins>
                <script
                    type="text/javascript"
                    src="//t1.daumcdn.net/kas/static/ba.min.js"
                    async
                ></script>
            <div class="container">
                
                <!-- κ³µν†µ ν—¤λ” -->
                <%- include('share/header.ejs') %>

                <main class="mainArea">
                    <!-- λ©”μΈ κ²€μƒ‰ λ°” -->
                    <% if (components === 'searchNickname') { %> <%- include('search/index.ejs') %>
                    <% } %>
                </main>

                <!-- κ³µν†µ ν‘Έν„° -->
                <%- include('share/footer.ejs') %>

                <!-- κ³µν†µ λ¨λ‹¬ -->
                <%- include('share/modal.ejs') %>
                <!-- κ³µν†µ λ΅λ”© ν™”λ©΄ -->
                <%- include('share/loading.ejs') %>
            </div>
            <ins class="kakao_ad_area pc" style="display:none;"
            data-ad-unit = "DAN-2KCdFesbBp9zMxNF"
            data-ad-width = "160"
            data-ad-height = "600"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
    </body>
</html>
