<!-- ðŸ“ views/index.ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>FCOAlways</title>
        <link rel="stylesheet" href="/css/common.css" />

        <!-- ë¬´ë£Œì•„ì´ì½˜ -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    </head>
    <body>
        <div class="forKaKaoAd">
            <ins
                    class="kakao_ad_area pc"
                    style="display: none"
                    data-ad-unit="DAN-oQJN02iYektg09FM"
                    data-ad-width="160"
                    data-ad-height="600"
                ></ins>
                <script
                    type="text/javascript"
                    src="//t1.daumcdn.net/kas/static/ba.min.js"
                    async
                ></script>
            <div class="container">
                
                <!-- ê³µí†µ í—¤ë” -->
                <%- include('share/header.ejs') %>

                <main class="mainArea">
                    <!-- ë©”ì¸ ê²€ìƒ‰ ë°” -->
                    <% if (components === 'searchNickname') { %> <%- include('search/index.ejs') %>
                    <% } %>
                </main>

                <!-- ê³µí†µ í‘¸í„° -->
                <%- include('share/footer.ejs') %>

                <!-- ê³µí†µ ëª¨ë‹¬ -->
                <%- include('share/modal.ejs') %>
                <!-- ê³µí†µ ë¡œë”© í™”ë©´ -->
                <%- include('share/loading.ejs') %>
            </div>
            <ins class="kakao_ad_area pc" style="display:none;"
            data-ad-unit = "DAN-2KCdFesbBp9zMxNF"
            data-ad-width = "160"
            data-ad-height = "600"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
        <!-- ë°©ë¬¸ìžìˆ˜ ì¡°íšŒ -->
        <script type="text/javascript">
            if(!wcs_add) var wcs_add = {};
            wcs_add["wa"] = "12923bc8e933b30";
            if(window.wcs) {
            wcs_do();
            }
        </script>
    </body>
</html>
